{% extends 'polls/base.html' %}

{% block extendedContent %}
    <div class="formularz">
        <div class="authWrapper">
            <div class="naglowek2">
                <h1>Logowanie</h1>
            </div>
            <div class="formularzDane">
                <form action="/logowanie/" method="POST">{% csrf_token %}
                    <div class="wiersz">
                        <div class="etykiety">
                            <label for="username">Login:</label>
                        </div>
                        <div class="pola">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="wiersz">
                        <div class="etykiety">
                            <label for="password">Hasło:</label>
                        </div>
                        <div class="pola">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="zatwierdz">
                        <input type="submit" value="Zaloguj">
                    </div>
                    <div class="bledy">
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        {{ form.non_field_errors }}
                        {% if invalid %}
                            Dane logowania niepoprawne lub konto nie zostało aktywowane.
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}