{% extends 'polls/panel.html' %}

{% block content %}
    {% if lista_postow %}
        <h1>
            Wyniki wyszukiwania:
        </h1>
        {% for post in lista_postow %}
            <a href="{% url 'post' post.id %}">
                <div class="post">
                    <div class="topContainerPost">
                        <div class="autor">
                            Blog: {{ post.blog.nazwa }}
                        </div>
                        <div class="data">
                            {{ post.data }}
                        </div>
                    </div>
                    <div class="middleContainerPost">
                        <div class="tytul">
                            {{ post.tytul }}
                        </div>
                    </div>
                    <div class="bottomContainerPost">
                        {% if post.haslo %}
                        [POST ZABLOKOWANY]
                        {% else %}
                        {{ post.zawartosc|truncatewords:100 }}
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <div class="brakPostow">
            Brak postów spełniających podane kryteria.
        </div>
    {% endif %}
{% endblock %}